{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<section>
    <div class="container ">
        <div class="row align-items-end d-flex justify-content-between mt-5 text-light background-profile-color">
            <div class="col-2 col-lg-1">
                <img src="{% static 'images/user_profile.png' %}" style="width: 102px;" alt="">
            </div>
            <div class="col-2 col-lg-1">
                <h3>{{ user.username }}</h3>
            </div>
            <div class="col-8 col-lg-10 text-end">
                <h5>Дата регистрации: {{ user.date_register }}</h5>
            </div>
        </div>

        <div class="row d-flex justify-content-between mt-5 text-light background-profile-color">
            <div class="col-6 col-lg-4">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Изменить Email адрес</label>
                        <input name ="email" type="email" class="form-control"aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <h5>Изменить пароль</h5>
                        <label for="exampleInputPassword1" class="form-label">Старый пароль</label>
                        <input name="password" type="password" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Новый пароль</label>
                        <input name="submit_password" type="password" class="form-control">
                    </div>
                        <button class="btn btn-danger text-weight-buttons" type="button" 
                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Сохранить</button>
                </form>
            </div>
            
            <!--div> СОздать избранные</div-->

            <div class="col-6 col-lg-6">

            </div>
        </div>

    </div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}