{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/film.css' %}">
<link rel="stylesheet" href="{% static 'css/media.css' %}">



<section class="mt-2 mb-2 text-light" >
    <div class="container" style="padding: 20px; background-color: rgb(29, 29, 29); border-radius: 10px;">
        <div class="row d-flex justify-content-center">
            <div class="col-6 col-lg-3" id="poster-div">
                
            </div>
            <div class="col-8 col-lg-9" id="info_div">

                
            </div>
        </div>

        <div class="row d-flex justify-content-center mt-5 mb-5"  id="player">
            <div class="col-10 col-md-10 col-sm-12 col-lg-8">
                <iframe class="film-player" src="https://18.annacdn.cc/PW5hgiILUEba?kp_id={{ film_id }}"frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    function generatePage(film, info){
        let poster_div = document.getElementById("poster-div");

        let info_div = document.getElementById("info_div");
        

        poster_div.innerHTML += 
        `
            <img class="poster" src="https://st.kp.yandex.net/images/film_iphone/iphone360_` + parseInt(film.kp_id) +  `.jpg" alt="">
        `

        info_div.innerHTML +=
        `
            <div class="row d-flex justify-content-start">
                <div class="col-12">
                    <h3 class="mb-2">` + film.title + `</h3>

                    <div class="row d-flex justify-content-center mt-3 mb-3">

                        <div class="col-12 col-lg-4">
                            <p style="font-weight: 600;">Название: ` + film.orig_title +  `</p>
                            <p style="font-weight: 600;">Год выхода: ` + film.year + `</p>
                        </div>

                        <div class="col-12 col-lg-4">
                            <p style="font-weight: 600;">Перевод: ` + film.translations[0] +  `</p>
                            <p style="font-weight: 600;">Качество: ` + info.quality + `</p>
                        </div>

                        <div class="col-12 col-lg-4">
                            <p style="font-weight: 600;">IMDB: ` +  info.info.rating.rating_imdb +` / 10</p>
                            <p style="font-weight: 600;">KP: ` +  info.info.rating.rating_kp +` / 10</p>
                        </div>
                    </div>

                    <div row d-flex justify-content-center mt-3 mb-3>
                        <div class="col-12 mt-3 mb-3">
                            <p style="font-weight: 600;">Описание: ` + info.info.description +  `</p>
                        </div>

                        <div class="col-12 mt-3 mb-3">
                            <p style="font-weight: 600;">Жанр: ` + info.info.genre +  `</p>
                        </div>

                        <div class="col-12 mt-3 mb-3">
                            <p style="font-weight: 600;">Актеры: ` + info.info.actors +  `</p>
                        </div>

                    </div>

                </div>
            </div> 
        `

    }

    function selectFilm() {
        kp_id = '{{ film_id }}'

        $.ajax({
            url: "\\api?method=short&kp_id=" + kp_id,
            type: "GET",
            success: function(responce){
                var data = JSON.parse(responce.data)
                var bazon = JSON.parse(responce.bazon)

                console.log(bazon.results[0])
                generatePage(data.data[0], bazon.results[0])  
            }
        });
    }

    selectFilm()


</script>
{% endblock %}