.film-player {
    width: 800px;
    height: 452px;
}


@media screen and (max-width: 1440px) {
    .film-player {
        width: 800px;
        height: 452px;
    }
}

@media screen and (max-width: 1200px) {
    .film-player {
        width: 800px;
        height: 452px;
    }

    .poster{
        width: 220px;
    }
}

@media screen and (max-width: 1090px) {
    .film-player {
        width: 600px;
        height: 352px;
    }

    .poster{
        width: 220px;
    }
}

@media screen and (max-width: 1024px) {
    .film-player {
        width: 600px;
        height: 352px;
    }

    .poster{
        width: 220px;
    }
}

@media screen and (max-width: 992px) {
    .poster{
        width: 250px;
    }
}

@media screen and (max-width: 768px) {
    .film-player {
        width: 550px;
        height: 352px;
    }

    .poster{
        width: 250px;
    }
}

@media screen and (max-width: 500px) {
    .film-player {
        width: 360px;
        height: 220px;
    }

    .poster{
        width: 220px;
    }
}

@media screen and (max-width: 425px) {
    .film-player {
        width: 350px;
        height: 252px;
    }

    .poster{
        width: 180px;
    }
}

@media screen and (max-width: 320px) {
    .film-player {
        width: 270px;
        height: 130px;
    }

    .poster{
        width: 150px;
    }
}